<header class="p-4 text-white">
<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
  <a class="navbar-brand" href="#">SwEm</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="true" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="navbar-collapse collapse show" id="navbarCollapse"  style="">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Link</a>
      </li>
      <li class="nav-item">
        <a class="nav-link disabled">Disabled</a>
      </li>
    </ul>
     <form class="form-inline mt-2 mt-md-0">
       <a><i class="fa fa-shopping-cart fa-2x mr-5 text-white"></i></a>
       <div class="cart-no">5</div>
      <input class="form-control mr-sm-2" type="search" placeholder="Search..." aria-label="Search">
<!--      <button class="btn btn-outline-success my-2 my-sm-0 mx-sm-2" type="submit">Search</button>-->
      <button type="button" class="btn btn-outline-light mx-sm-2">Login</button>
      <button type="button" class="btn btn-warning mx-sm-2">Sign-up</button>
    </form>
  </div>
</nav>
</header>
